requests
psutil
python-telegram-bot
google-api-python-client>=1.7.11,<1.7.20
google-auth-httplib2>=0.0.3
google-auth-oauthlib>=0.4.1
aria2p>=0.9.0,<0.15.0
python-dotenv>=0.10
tenacity>=6.0.0
python-magic
beautifulsoup4
Pyrogram
TgCrypto
youtube_dl
megasdkrestclient>=0.1.1,<1.0.0